body {
    background: #85dcb8;
    font-family:Arial;
}

.assignments {
    display: flex;
    flex-wrap:wrap;
}

.assignment {
    width:25%;
    padding:10px;
    margin:20px;
    background: #e8a87c;
}

.assignment img{
    width:200px;
    padding:10px;
    margin: 10px;
    border: 4px solid #2a2c2a;
    display:block;
    margin:auto;
}

.assignment img:hover{
    border: 4px dashed #bb8798;
}

h1 {
    color: #41b3a3;
    text-align:center;
}

h1:hover {
    color:#cc6143 ;
}
h2{
    text-align: center;

}

a {
    text-decoration: none;
    color: #cc5e15;
}

a:hover{
    color: #bb8798;
}
